:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Roboto";
  src: url(./base/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Marcellus";
  src: url(./base/fonts/Marcellus-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Marcellus";
}
h1 {
  font-size: 144px;
  @include media("<=desktop") {
    font-size: 96px;
  }
  @include media("<=tablet") {
    font-size: 72px;
  }
  @include media("<=phone") {
    font-size: 48px;
  }
}
h2 {
  font-size: 96px;
  @include media("<=desktop") {
    font-size: 72px;
  }
  @include media("<=tablet") {
    font-size: 48px;
  }
  @include media("<=phone") {
    font-size: 36px;
  }
}
h3 {
  font-size: 48px;
  @include media("<=desktop") {
    font-size: 36px;
  }
  @include media("<=tablet") {
    font-size: 24px;
  }
}
h4 {
  font-size: 36px;
  @include media("<=desktop") {
    font-size: 24px;
  }
  @include media("<=tablet") {
    font-size: 18px;
  }
}
h5 {
  font-size: 24px;
  @include media("<=desktop") {
    font-size: 24px;
  }
  @include media("<=tablet") {
    font-size: 18px;
  }
}

p {
  font-family: "Roboto";
  font-size: 18px;
  @include media("<=tablet") {
    font-size: 14px;
  }
  @include media("<=phone") {
    font-size: 12px;
  }
}
